@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    background-color:#955F1F;
    padding: 30px;
    margin: auto;
}
body{
    background-color: #F9D897;
}
img{
    border-radius: 30px;
    outline: none;
    margin: auto;
    padding-top: 10px;
    margin-top: 10px;
}
h1{
    color: #F9D897;
    font-size: 45px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #5D3303;
    background-color: #F9D897;
}
.button-header{
    display: flex;
    justify-content:space-around;
    padding-top: 50px;
    font-size: 20px;    
    text-decoration: none;
}

.btn-one,.btn-two, .btn-three, .btn-four{    
    background-color: #955F1F;
    border-radius:35px;
    color: #F9D897;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}

.btn-one:hover, .btn-two:hover,.btn-three:hover, .btn-four:hover{
    color: red;
 }

.photos{
    margin: auto;
    display: flex;
    justify-content:center;
    gap: 30px;
    padding:33px;
    background-color: #F9D897;
}

.photo-one,.photo-two,.photo-three{
    height: 345px;
    width: 356px; 
    border-radius: 20%;
}

.buttons{
    margin: auto;
    display: flex;
    border: none;  
    background-color: #F9D897;
}
.btn-cadastrar, .btn-verificar, .btn-registrar {
    margin: auto;
    height:60px;
    width:450px;
    gap: 30px;
    background-color: #F9D897;
    color:  rgb(11, 69, 34);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.btn-cadastrar:hover, .btn-verificar:hover, .btn-registrar:hover {
    color: white;
}
footer{
    margin-top:50px;
    color: #5D3303;
    font-size: 20px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
