@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F9D897;
}
header{
    background-color:#955F1F;
    padding: 10px;
}

img{
    border-radius: 30px;
    outline: none;
    margin: auto;
    padding-top: 10px;
    margin-top: 10px;
}
h1{
    color: #F9D897;
    font-size: 45px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #5D3303;
    background-color: #F9D897;
}
.button-header{
    display: flex;
    justify-content:space-around;
    padding-top: 50px;
    font-size: 20px;    
    text-decoration: none;
}

.btn-one,.btn-two, .btn-three, .btn-four{
    
    background-color: #955F1F;
    border-radius:35px;
    color: #F9D897;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}

.btn-one:hover, .btn-two:hover,.btn-three:hover, .btn-four:hover{
    color: red;    
}
footer{
    height: 85px;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #5D3303;
    background-color: #F9D897;
}
