@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    background-color:#955F1F;
    padding: 10px;
}
body{
    background-color: #F9D897;
}

h1{
    color: #F9D897;
    font-size: 45px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #5D3303;
    background-color: #F9D897;
}
.button-header{
    display: flex;
    justify-content:space-around;
    padding-top: 50px;
    font-size: 20px;    
    text-decoration: none;
}

.btn-one,.btn-two, .btn-three, .btn-four{
    
    background-color: #955F1F;
    border-radius:35px;
    color: #F9D897;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}

.btn-one:hover, .btn-two:hover, .btn-three:hover, .btn-four:hover{
    color: red;    
}

.info{
    width: 994px;
    height: 600px;
    background-color:#F9F4CF;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
}
p{
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #5D3303;
}

img{
    margin-top: 35%;
    margin-left: 15%;
}
footer{
    margin-top:50px;
    color: #5D3303;
    font-size: 20px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
